$firstSector_color: green;
$secondSector_color: red;
$thirdSector_color: blue;
$fourthSector_color: orange;

$primaryColor: rgb(9, 4, 32);
$darkShadeColor: #020566;
$gradientColor: #8BA4F9;

$text_primary: transparentize($darkShadeColor, 0.25);

$softErrorText: blue;